:local{
  .clinical-lowlight-theme {
    --terra-dev-site-example-template-code-toggle-background-color: #ffa500;
    --terrra-dev-site-example-template-code-toggle-outline: solid;
    --terra-dev-site-example-template-code-background-color: #1d2427;
  }
}