:local{
  .clinical-lowlight-theme {
    --terra-dev-site-example-template-code-toggle-background-color: #2e3539;
    --terra-dev-site-example-template-code-background-color: #1d2427;
    --terra-dev-site-example-template-code-toggle-color: #b2b5b6;
    --terra-dev-site-example-template-chevron-color: #b2b5b6;
  }
}