:global {
  .terra-dev-site-test-theme {
    --terra-application-navigation-header-background-color: rgb(25, 166, 25);
    --terra-application-navigation-header-background-image: radial-gradient(100% 70% at 50% 0%, rgba(70, 171, 83, 0.7), rgba(70, 171, 83, 0)),
    radial-gradient(100% 100% at 0% 0%, rgb(25, 166, 32), rgba(25, 166, 32, 0)),
    radial-gradient(100% 100% at 0% 100%, rgb(29, 153, 39), rgba(29, 153, 39, 0)),
    radial-gradient(100% 100% at 100% 0%, rgb(95, 172, 105), rgba(95, 172, 105, 0)),
    radial-gradient(100% 600% at 100% 100%, rgb(84, 160, 81), rgba(84, 160, 81, 0)),
    radial-gradient(100% 70% at 50% 100%, rgb(81, 172, 86), rgba(81, 172, 86, 0)),
    linear-gradient(rgb(25, 166, 25), rgba(25, 166, 25, 1));
  }
}