:local {
  .clinical-lowlight-theme {
    --terra-dev-site-marked-table-background-color: #1d2427;
    --terra-dev-site-marked-table-alt-background-color: #1d2427;
    --terra-dev-site-code-background-color: #282A36;
    --terra-dev-site-code-color: #fff;
    --terra-dev-site-par-code-color: #fff;
    --terra-dev-site-code-text-shadow: #000;
    --terra-dev-site-img-background-color: #1c2527;
    --terra-dev-site-marked-pre-background-color: #282A36; 
  }
}