:local {
  .orion-fusion-theme {
    --terra-dev-site-marked-blockquote-color: #24292e;
    --terra-dev-site-marked-table-background-color: #fff;
    --terra-dev-site-marked-table-alt-background-color: #f6f8fa;
    --terra-dev-site-marked-code-background-color: #f6f8fa;
    --terra-dev-site-marked-code-color: #24292e;
    --terra-dev-site-marked-par-code-color: #1e2021;
    --terra-dev-site-marked-code-text-shadow: #fff;
    --terra-dev-site-marked-img-background-color: #fff;
    --terra-dev-site-marked-pre-background-color: #f6f8fa; 
  }
}