@import './clinical-lowlight-theme/ExampleTemplate.module';

:local {
  .template {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin-bottom: 0.9375rem;
    overflow: hidden;
  }

  .header {
    background-color: var(--terra-dev-site-header-background-color);
    border-bottom: 1px solid #e8e8e8;
    padding: 0.625rem;
  }

  .content {
    background-color: var(--terra-dev-site-template-content-background-color);
    padding: 0.625rem;
  }

  .description {
    padding-bottom: 0.625rem;
  }

  .footer {
    background-color: var(--terra-dev-site-footer-background-color);
    overflow: hidden;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .code {
    background-color: var(--terra-dev-site-example-template-code-background-color, #f6f8fa);
    height: 100%;
  }

  .bg-toggle,
  .code-toggle {
    align-items: center;
    background-color: var(--terra-dev-site-example-template-code-toggle-background-color, #ddd);
    border: 0;
    color: var(--terra-dev-site-example-template-code-toggle-color, #000);
    cursor: pointer;
    display: flex;
    outline: none;
    padding: 0.625rem;
  }

  .chevron {
    color: var(--terra-dev-site-example-template-chevron-color, #000);
    display: inline-block; // IE 10
    height: 0.875rem;
    width: 0.875rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  .dynamic-content {
    background-color: rgba(0, 0, 0, 0);
  }
}
