:local {
  .bold {
    font-weight: 600;
  }
  .table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 16px;
    margin-top: 0;
    overflow: auto;
    width: 100%;
  }
  table {
    .required {
      color: #d53040;
    }
    .code-block-override {
      pre {
        padding: 4px;
        width: fit-content;
        max-width: 500px;
      }
    }
  }
}
