:local {
  .clinical-lowlight-theme {
    --terra-dev-site-token-keyword-color: #BD93F9;
    --terra-dev-site-token-function-color: #50FA7B;
    --terra-dev-site-token-plain-color: #F8F8F2;
    --terra-dev-site-token-string-color: #F1FA8C;
    --terra-dev-site-token-class-name-color: #8BE9FD;
    --terra-dev-site-token-deleted-background: #271d1d;//#725659;
    --terra-dev-site-token-inserted-background: #212e20;//#6a806f;
  }
}