:local {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container-compact {
    background-color: #d3d3d3;
    display: flex;
    padding: 0.7143rem;
    width: 100%;
  }

  .item {
    margin-right: 0.3571rem;
  }
}
