@import '~terra-breakpoints/lib/media-queries';

:local {
  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: none;
    padding-right: 2px;
    position: relative;
    width: 100%;
    z-index: 0;

    .header-container {
      flex: 0 0 auto;
      z-index: 0;
    }

    .content {
      flex: 1 1 auto;
      height: 100%;
      min-height: 50px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    .page-layout-header {
      align-items: center;

      display: flex;
      flex-wrap: nowrap;

      overflow: hidden;
      width: 100%;
    }

    .back-button-container {
      display: flex;
      flex: 0 0 auto;
      padding-right: 5px;
    }

    .header-button {
      color: #027cc3;
    }

    .header-button.disabled {
      color: rgba(2, 124, 195, .85) !important;
    }

    .label-container {
      font-weight: 500;
      flex: 1 1 auto;
    }

    .actions-container {
      display: flex;
      flex: 0 0 auto;
      min-height: 30px;
    }

    .actions-divider {
      align-self: stretch;
      box-shadow: inset -3px 0px 0px -2px#fefffe, inset -4px 0px 0px -2px #C7CACB;
      flex: 0 0 auto;
      margin: 4px 5px;
      width: 2px;
    }


  }

  .header-button {
    color: #027cc3;
  }

  .active-button,
  .active-button:hover {
    background-color:rgba(25, 127, 229, 0.2);
    border: solid 1px #4a90e2;

    &:active {
      background-color:rgba(25, 127, 229, 0.5);
    }
  }

  .side-nav-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: stretch;
    overflow: hidden;
    position: relative;
  }

  .side-nav-sidebar {
    background-color: #eff0ef;
    box-shadow: inset -3px 0px 0px -2px#fefffe, inset -4px 0px 0px -2px #C7CACB;
    display: none;
    flex: 0 0 auto;
    height: 100%;
    width: 280px;

    &.visible {
      display: block;
    }

    &.overlay {
      position: absolute;
      width: calc(100% - 50px);
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 6;

      @include terra-mq-medium-up {
        width: 200px;
      }
    }
  }

  .side-nav-body {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: stretch;
    overflow: hidden;
  }

  .page-body {
    flex: 1 1 320px;
    height: 100%;
    overflow: hidden;
  }

  .side-nav-resize-overlay {
    bottom: 0;
    cursor: col-resize;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5; // TODO 5 is very important for safari, validate final value for this
  }
}

