:local {
  .clinical-lowlight-theme {
    --terra-dev-site-mdx-table-background-color: none;
    --terra-dev-site-mdx-table-alt-background-color: #2d3539; 
    --terra-dev-site-mdx-code-background-color: #282A36;
    --terra-dev-site-mdx-pre-background-color: #282A36;
    --terra-dev-site-mdx-code-text-shadow: #000;
    --terra-dev-site-mdx-img-background-color: #1d2427;
  }
}