:local {
  .clinical-lowlight-theme {
    --terra-dev-site-mdx-table-background-color: #1d2427;
    --terra-dev-site-mdx-table-alt-background-color: #1d2427; 
    --terra-dev-site-mdx-code-background-color: #1c2527;
    --terra-dev-site-mdx-code-text-shadow: #000;
  }
}