:local{
  .orion-fusion-theme {
    --terra-dev-site-example-template-code-toggle-background-color: #ddd;
    --terra-dev-site-example-template-code-background-color: #f6f8fa;
    --terra-dev-site-example-template-code-toggle-color: #000;
    --terra-dev-site-example-template-chevron-color: #000;
  }
}