:local{
  .orion-fusion-theme {
    --terra-dev-site-example-template-hover-selected-code-toggle-background-color: #424141;
    --terra-dev-site-example-template-selected-code-toggle-background-color: #666565;
    --terra-dev-site-example-template-hover-code-toggle-background-color: #b8b8b8;
    --terra-dev-site-example-template-keyboard-focus-select-box-shadow: #66b5c7;
    --terra-dev-site-example-template-keyboard-focus-box-shadow: #4cb2e9;
    --terra-dev-site-example-template-code-toggle-background-color: #ddd;
    --terra-dev-site-example-template-selected-code-toggle-color: #ebebeb;
    --terra-dev-site-example-template-code-background-color: #f6f8fa;
    --terra-dev-site-example-template-code-toggle-color: #000;
  }
}