:local {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container-compact {
    background-color: #d3d3d3;
    display: flex;
    padding: 10px;
    width: 100%;
  }

  .item {
    margin-right: 5px;
  }
}
