:local {
  .testing-component {
    background-color: var(---terra-background-color, #000);
    box-shadow: var(--terra-box-shadow, 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 4px 3px -3px rgba(0, 0, 0, 0.5));
    color: var(--terra-color, #000);
    font-family: var(--terra-font-family, 'Helvetica Neue', Helvetica, Arial, sans-serif);
    font-size: var(--terra-font-size, 1.5em);
    margin: 0.357em;
  }
}
