<!doctype html>
<html dir=<%= htmlWebpackPlugin.options.direction %>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= htmlWebpackPlugin.options.headHtml.join('\n    ') %>
    <% if (htmlWebpackPlugin.options.rewriteHistory) { %>
      <script src="/rewriteHistory.js"></script>
      <% } %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.rootElementId %>" style="height:100%"></div>
  </body>
</html>
