:local {
  .orion-fusion-theme {
    --terra-dev-site-mdx-table-background-color: #fff;
    --terra-dev-site-mdx-table-alt-background-color: #f6f8fa; 
    --terra-dev-site-mdx-code-background-color: #f6f8fa;
    --terra-dev-site-mdx-pre-background-color: #f6f8fa;
    --terra-dev-site-mdx-code-text-shadow: #fff;
    --terra-dev-site-mdx-img-background-color: #fff;
  }
}