:local {
  .dev-site-content {
    height: 100%;
    overflow: auto;
    background-color: var(--terra-dev-site-content-background-color, transparent);
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 100%;
  }
}
