@import './clinical-lowlight-theme/ContentLoaded.module';
@import './orion-fusion-theme/ContentLoaded.module';

:local {
  .dev-site-content {
    background-color: var(--terra-dev-site-content-background-color, transparent);
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 100%;
  }
}
