:local {
  .markdown {
    height: 100%;
    overflow: auto;
    padding: 1.714rem;
    position: relative;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    line-height: 1.5;
    line-height: 1.5;
    list-style: disc outside none;
    margin-bottom: 1.25rem;
    text-size-adjust: 100%;
    word-wrap: break-word;
  }
}
