:local {
  .item {
    padding-bottom: 0.7143rem;
    padding-left: 0.3571rem;
    padding-right: 0.3571rem;
    padding-top: 0.7143rem;
    width: 100%;

    &:hover {
      background-color: rgba(89, 159, 253, 0.2);
    }
  }
}
