:local {
  .collapsing-navigation-menu {
    height: 100%;
    overflow: auto;
    padding: 0.7143rem;
  }

  .caret {
    color: #a1a0a0;
    height: 0.8em;
    width: 0.8em;
  }

  .item {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    padding-bottom: 0.7143rem;
    padding-left: 0.3571rem;
    padding-right: 0.3571rem;
    padding-top: 0.7143rem;

    &.is-selected {
      // background-color: rgba(89, 159, 253, 0.4);
      background-color: #e1f3fd;
      box-shadow: inset 0 0 0 0.07143rem #fff;
    }

    &:hover {
      background-color: #e1f2fd;
      box-shadow: inset 0 0 0 0.07143rem #fff;
    }
  }

  .indent {
    padding-left: 1.071rem;
  }

  .disclosure {
    margin-bottom: 0.1429rem;
    padding-right: 0.2143rem;
  }
}
