:local {
  .item {
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;

    &.is-selected {
      background-color: lightblue;
    }

    &:hover {
      background-color: lightgrey;
    }
  }
}
