:local {
  .header {
    border-bottom: 0.07143rem solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 0.714rem;
    position: relative;
    width: 100%;


    .flex-collapse {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      height: 100%;
      position: relative;
    }
  }

  .toggle {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    position: relative;
  }
}
