:local {
  .searchField {
    background-color: #f4f4f4;
    border-bottom: 1;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }

  .item {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .title {
    color: #1c1f21;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286;

    span {
      font-weight: bold;
    }
  }

  .path {
    color:  #64696c;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286;

    span {
      font-weight: bold;
    }
  }
}
