@import '~terra-application/lib/breakpoints/media-queries';
@import './clinical-lowlight-theme/SecondaryNavigationLayout.module';
@import './orion-fusion-theme/SecondaryNavigationLayout.module';

:local {
  .container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    height: 100%;
    left: 0;
    overflow: auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .panel {
    background-color: var(--terra-dev-site-layout-menu-panel-panel-background-color, #fff);
    border-right: 0.07143rem solid var(--terra-dev-site-layout-menu-panel-panel-border-right, #d3d4d5);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 19.29rem;
    z-index: 101;

    @include terra-mq-small-up {
      width: 22.86rem;
    }
  }

  .container.panel-is-open {
    .content {
      @include terra-mq-medium-up {
        left: 22.86rem;
        width: calc(100% - 22.86rem);
      }
    }

    .panel {
      display: block;
    }
  }

  .overlay {
    top: '0';
  }
}
