<!doctype html>
<%
  const mapToHtml = (filteredChunks, chunks) => filteredChunks.map(chunk => `<script type="text/javascript" src="${chunks[chunk].entry}"></script>`).join('\n    ');

  const headChunks = (headChunks, chunks) => {
    if (!headChunks) {
      return '';
    }
    return mapToHtml(headChunks, chunks);
  };

  const bodyChunks = (headChunks, chunks) => {
    let body = Object.keys(chunks);

    if (!body) {
      return '';
    }

    if (headChunks) {
      body = body.filter(chunk => !headChunks.includes(chunk));
    }

    return mapToHtml(body, chunks);
  };
%>
<html dir=<%= htmlWebpackPlugin.options.direction %>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= htmlWebpackPlugin.options.headHtml.join('\n    ') %>
    <%= htmlWebpackPlugin.files.css.map(css =>`<link href="${css}" rel="stylesheet">`).join('\n    ') %>
    <%= headChunks(htmlWebpackPlugin.options.headChunks, htmlWebpackPlugin.files.chunks) %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.rootElementId %>"></div>
    <%= bodyChunks(htmlWebpackPlugin.options.headChunks, htmlWebpackPlugin.files.chunks) %>
  </body>
</html>
